[2020-06-17 21:21] stebo85 opened #2 "We need a cool Logo :)"
Can someone create a cool logo for the project?

[2020-06-17 21:24] stebo85 opened #3 "Singularity doesn't work yet"
I was running singularity run shub://shub://vsoch/hello-world

Failed to create user namespace: Operation not permitted and when I logged as a default user I get Failed to unshare root file system: Operation not permitted...

what singularity command are you using? are you using the --fake-root option by chance? what happens when you run singularity run docker://alpine:latest pwd

[2020-06-17 21:24] stebo85 opened #4 "minimize images"
I can help with this in the future. Neurodocker has a method of minimizing containers for certain commands. There's an example in the readme of minimizing an ANTs image https://github.com/ReproNim/neurodocker#minimize-existing-docker-image

[2020-06-17 21:26] stebo85 opened #5 "we need to test our images"

[2020-06-17 21:26] stebo85 opened #6 "software containers to be installed"
https://docs.google.com/document/d/1KWznhJH7GzjmB1TK5veAH5FejcsjUs70pMmQloHph0g/edit

NeuroDesk/VNM project

Software to add to "library" of containers / "master" container

Bold - Software already in the library (available through https://github.com/ReproNim/neurodocker)

* - is for top priority software (to be included in “master” container)

+ - is for licensed software (need to check if possib

[2020-06-17 22:09] stebo85 opened #7 "Test vnm on hpc"

[2020-06-17 22:35] stebo85 opened #8 "modify Application menu"
@aswinnarayanan, could you let us know how you modified the menu on the cai-workstatations :? We are using the same desktop environment in this project :)

[2020-06-17 22:37] stebo85 commented on #3
I am suspecting that the problem is that we are running it as root user.

[2020-06-17 22:56] stebo85 commented on #3
This looks promising: https://github.com/hpcng/singularity/issues/632

[2020-06-17 23:00] stebo85 commented on #3
https://groups.google.com/a/lbl.gov/forum/#!topic/singularity/e9mlDuzKowc

[2020-06-17 23:12] stebo85 commented on #3
OK, i got it working!!! The docker containers needs to be started with priviliged. I clean up my mess and merge to master :)

[2020-06-17 23:21] stebo85 opened #9 "user testing"
can everyone try the current master tree and see if things work :?

[2020-06-18 00:18] #3 closed

[2020-06-18 00:20] aswinnarayanan commented on #8
@stebo85, Ive noted it down on this gist, will update. I'll add some notes on nesting sub-menus and using mergediles for sub-menus shortly
https://gist.github.com/aswinnarayanan/5926e21794949c86b25ffbda34d8f2cd

[2020-06-18 00:31] stebo85 commented on #8
Awesome :) Thank you much @aswinnarayanan !!!!

[2020-06-18 00:35] stebo85 opened #11 "distribute a little browser (e.g. Midori) and a little VNC player with the package os that people don't have to install that?"

[2020-06-18 00:35] thomshaw92 commented on #9
Working on Windows 10 Docker (Powershell) and WSL2 Docker (even though they are the same) :P

[2020-06-18 00:40] stebo85 opened #12 "add lmod module system to handle sub-containers?"

[2020-06-18 00:46] stebo85 opened #13 "write script to pull containers via transparent-singularity and install them in a persistent space"
https://github.com/NeuroDesk/transparent-singularity

[2020-06-18 00:49] stebo85 opened #14 "add terminal shortcut to Application Launchbar"

[2020-06-18 01:22] crnolan opened #16 "test master container in singularity and on HPC"
Idea is to allow the entire container structure to be identical between HPCs and desktops.

[2020-06-18 01:35] kaczmarj commented on #9
Works for me on Debian Bullseye (tested in Firefox) and macOS Catalina (10.15.5) (tested in Firefox, Google Chrome, and Safari)

I tested using the Dockerfile in #15

[2020-06-18 01:58] kaczmarj commented on #16
what about building a docker image (which is the most portable) and then converting that to singularity? that seems like the least work to maintain

[2020-06-18 02:17] stebo85 commented on #16
yes, correct :) Converting the docker image to singularity on the HPC is what I have in mind (and keep developing in a docker container and for windows). This issue is about looking into nesting singularity containers, so that the rest we are doing still works on an HPC.

[2020-06-18 02:26] crnolan commented on #16
Yep, sorry that could have been a clearer description :)

[2020-06-18 03:40] MartinGrignard commented on #9
Tested on Ubuntu 20.04 with the build from #15 on firefox and working perfectly!

[2020-06-18 03:49] MartinGrignard commented on #12
Sounds a good solution to manage multiple versions of softwares.

[2020-06-18 05:11] MartinGrignard commented on #12
Strange, I'm trying to add lmod to the image. When I use:
[code]
the build works but no command is added to the final image so issuing `module list` or any other command, I get `module: command not found`...

[2020-06-18 05:31] meganEJcampbell commented on #9
I'm am 100% noob so would love to test but not sure exactly what to do... :[

[2020-06-18 05:43] thomshaw92 commented on #12
I found this https://github.com/readthedocs/readthedocs-docker-images/compare/master...shahzebsiddiqui:master
Try adding
RUN ln -s /usr/lib/x86_64-linux-gnu/lua/5.2/posix_c.so /usr/lib/x86_64-linux-gnu/lua/5.2/posix.so

@MartinGrignard

[2020-06-18 05:45] MartinGrignard commented on #12
Yep, that's what I did in the last update :) It works when installing from inside the session but not at the build stage. Not quiet sure why yet... If you have any clue about why the lmod.sh script is not created, I'm interested :D

[2020-06-18 05:56] stebo85 commented on #9
Hi @meganEJcampbell :) That's very valuable feedback!!!! Can you try to follow the instruction here https://github.com/NeuroDesk/vnm and change it when it's not clear :) and ask when things go wrong :) 1000 Thanks for testing !!!!

[2020-06-18 06:01] stebo85 commented on #12
Hi @MartinGrignard - I have an idea whats wrong :) you need to source the module system in every shell you are using - Here is how we set this up in our puppet scripts on our workstations: Would you like to give it a go to try that in docker? PM me for more input :)

# installs module system
class environment_module_system {
  case $operatingsystem {
    'Ubuntu','Debian': {
      package { 'lmod'

[2020-06-18 06:27] thomshaw92 commented on #14
so @stebo85 my understanding is that in order to make this work we will need to add the application shortcut in the ubuntu Dockerfile?

https://lkubaski.wordpress.com/2012/06/29/adding-lxde-start-menu-and-desktop-shortcuts/#:~:text=To%20add%20a%20shortcut%20on,'Add%20to%20desktop'%20option.&text=This%20means%20that%20if%20you,explained%20in%20the%20previous%20chapter.

We could define multiple def

[2020-06-18 06:29] MartinGrignard commented on #12
@stebo85 I'll give it a try right now :)

[2020-06-18 06:29] #14 closed

[2020-06-18 06:30] stebo85 commented on #2
logo looks great :)

[2020-06-18 06:30] #2 closed

[2020-06-18 07:04] MartinGrignard commented on #13
Once `lmod` will work, it should be really straightforward given the `transparent-singularity` script. I tried it with itksnap and it's very easy.
Basically, what we should do is just a little script that checks if the desired module is in the list, if not, check if it is available in any repositoy we will list, pull it and install it if needed, load the resulting module and run it. As transparent

[2020-06-18 07:44] MartinGrignard commented on #12
Closed in #18.

[2020-06-18 07:44] #12 closed

[2020-06-18 07:44] stebo85 commented on #13
transparent-singularity is not dedicated to CAI :) We are using it now in 3 different projects. I forked the repo in this organization so we can make quick changes, but ideally I like to see all these improvements can be migrated to the main project and make it work for everyone who wants to use it :)

[2020-06-18 07:51] MartinGrignard commented on #13
Ok, I thought it was a tool for your lab but it's nice seeing you want to make it as flexible as possible! :)

[2020-06-18 09:48] #13 closed

[2020-06-18 10:54] aswinnarayanan commented on #8
@stebo85 https://github.com/NeuroDesk/vnm/tree/feature/appmenus
This has menu, nested sub-menus and application for lxde configured
I've used lxterminal as an example application.

It should integrate easily with transparent singularity, might need to rename some folder here though

[2020-06-18 11:03] MartinGrignard commented on #6
I started adding softwares using the small script I added to the image. For now I simply add `.desktop` files, no submenus or anything but we might want to add sub menus for each software to group versions.

[2020-06-18 12:55] MartinGrignard commented on #8
If it's already usable as is, I can merge it and use it to add the first tools :) is it ok for you @aswinnarayanan?

[2020-06-18 13:47] aswinnarayanan commented on #8
Its already usable, happy to have it merged,
Feel free to rename any of the menus & categories :)

[2020-06-18 14:23] MartinGrignard commented on #8
Fine, I just had to add the icon so that we could build but great thanks for your help on this, I had never configured Xfce :D

[2020-06-18 14:25] #8 closed

[2020-06-18 15:14] kaczmarj opened #21 "Rename dockerfile to Dockerfile"
minor, but the current name causes github to not format the file properly and the convention is to use Dockerfile instead of dockerfile

[2020-06-18 18:49] MartinGrignard commented on #6
I added instructions on how to add tools in the wiki [here](https://github.com/NeuroDesk/vnm/wiki/Add-a-tool-to-VNM). If something does not fit with the idea you had, it can still be modified, but for now it works quiet well :)

[2020-06-19 03:14] stebo85 opened #22 "CI+CD: Automatically build the master image and push to docker hub and test if working"

[2020-06-19 03:17] kaczmarj commented on #22
DockerHub has an automated builder. You can link the DockerHub repository to here and tell it to build the latest image on an any push to master.

[2020-06-19 04:27] stebo85 commented on #21
Thank you :) Fixed!

[2020-06-19 04:27] #21 closed

[2020-06-19 04:37] stebo85 commented on #22
yes, DockerHub would be perfect for this. I was thinking to also host all images we need in this project in an organization account on docker hub. I just created an org there "https://hub.docker.com/orgs/vnmd" - can please everyone send me their docker hub account ids (I think we can have 3 accounts linked to a free organization)

[2020-06-19 04:47] stebo85 commented on #6
Wow, that is awesome!!!! Thank you so much. Have you already added
applications using this method in a branch? The master branch doesn't seem
to have anything yet :?

On Fri, 19 Jun 2020 at 04:49, Martin Grignard <notifications@github.com>
wrote:

[2020-06-19 06:41] MartinGrignard commented on #6
I've tried with ITK snap and two versions of FreeSurfer in the branch [here](https://github.com/NeuroDesk/vnm/tree/feature/add-softwares) and it worked like a charm :) feel free to test it, we might end up editing the `fetch_and_run.sh` file in order to make it more versatile (set the repository to pull from as it is available in `transparent-singularity`, show a progress bar during download, etc)

[2020-06-19 07:08] MartinGrignard opened #25 "Handle modules at start"
As stated by @stebo85 on mattermost, it would be interesting to make all the terminals source `module.sh` and set the `MODULEPATH` at start thus removing VNM terminal from the applications.

Here is the puppet script he proposes to add inside `/etc/profile`:
[code]
Let's give it a try!

[2020-06-19 08:11] MartinGrignard commented on #25
## 1
Addind this:
[code]
to `/etc/profile` does not work.

## 2
Addind this:
[code]
to `/etc/profile` does not work and setting adding the environment variable `MODULEPATH=/vnm/modules` to the dockerfile does not work.

[2020-06-19 09:05] stebo85 opened #26 "Extend install script to handle software licenses"
Some containers we want to use need softare licenses (e.g. Freesurfer needs a license file, FSL needs people to agree to a license)
Subtasks:
- find out which software needs which license and if users need to agree or apply for a license
- extend the installer script for new containers to open a browser and point users to the license
- if a license file is required, store the license in the perman

[2020-06-19 09:07] stebo85 commented on #25
I just started working on this :)

[2020-06-19 09:24] stebo85 opened #27 "Make windows snap to different screen halfs (ideally with keyboard shortcut Win-Left/Win-Right)"
Make windows snap to different screen halfs (ideally with keyboard shortcut Win-Left/Win-Right)

[2020-06-19 09:26] stebo85 commented on #25
ok, I think I found one problem:
source /etc/profile
To run a command as administrator (user "root"), use "sudo <command>".
See "man sudo_root" for details.

source /etc/bash.bashrc
To run a command as administrator (user "root"), use "sudo <command>".
See "man sudo_root" for details.

Just looking into this error, because I think this is why the settings where not applied

[2020-06-19 09:31] stebo85 commented on #25
Ok, I added our neuro user to the sudo group (or I could have remove the hint?) this then makes the sourcing work :)

[2020-06-19 09:59] #25 closed

[2020-06-19 10:05] stebo85 commented on #7
duplicate of #16

[2020-06-19 10:05] #7 closed

[2020-06-19 10:49] stebo85 opened #30 "add visual studio code to main image"

[2020-06-19 18:18] MartinGrignard commented on #30
Shouldn't this bé added to thé softwares available in thé form if images? Géré at thé lab WE work with Atom mainly and this means we coule add other tools as modules 😊
This could also apply to the browser, Jupiter, etc

[2020-06-19 18:31] kaczmarj commented on #30
i agree with @MartinGrignard. the vnm image should be as small as possible and shouldn't include software that could be packaged separately.

[2020-06-19 18:36] MartinGrignard commented on #30
The only issue with this is that we start growing the list of modules we want to propose so we start actually creating a package manager... Maybe we should start thinking about how we want users to actually use vnm 😛
Is this just an hpc oriented solution? Or do we want to provide a full fledged desktop experience? Because providing a bunch of neuroimaging tools is easy, managing a lot of non neuro

[2020-06-19 19:00] kaczmarj commented on #30
again agree with @MartinGrignard - it would be out of scope in my opinion, and it would also require more and more maintenance, which, sooner or later, would be untenable

[2020-06-19 19:11] MartinGrignard commented on #30
But this means we have to clarrify the goal of vnm, what do we want to allow the end user to achieve with it?

Because simply providing neuro imaging tools is great but what does vnm propose that simply using singularity does not?

I'm really scratching my head right now to figure this out 😅

[2020-06-20 21:16] kaczmarj commented on #30
one thing that vnm provides over simply using singularity is a familiar GUI experience and an orchestration of containers. Using singularity, one would have to make one very larger container or use many smaller containers on their own (that would be hard for many people, especially container novices). vnm also allows windows and macos users to use the guis of their favorite neuroimaging packages,

[2020-06-21 09:40] civier commented on #30
Hello all.

Because we cannot nest containers at the moment, so any software that is used to run the scripts that call the singularity containers will have to be installed within the VNM. This include python, visual studio, and full-fledged MATLAB, if we can make it work (some people use MATLAB as their base script language; very poor choice, but this is the way things are).
In addition, software

[2020-06-21 10:51] MartinGrignard commented on #30
Ok I see, so I still believe it would be better packaging all the softwares in separate singularity images but I understand the point of having VS code or matlab.
Let's try adding those and see what we manage to do, because I don't know how to manage the licences for a soft like Matlab which has many versions all being dozens of GB with, for each, packages that you can purchase 😛
It will be fun fi

[2020-06-21 11:19] civier commented on #30
I also wonder what about software that has a python interface rather than command-line interface.
How are we going to put it exactly in a transparent container?
@stebo85, how is it handled in CVL?

[2020-06-22 00:01] stebo85 commented on #30
great discussion! I agree with everyone I guess :D

I made a little table here, that could help us making the decision on what to package in containers and what to add to main:
https://github.com/NeuroDesk/vnm/wiki/Add-a-tool-to-VNM

Happy for more input!

I think for VScode it's pretty clear - it should be in main. However, there are already some edge case that we can discuss.

@civier: regarding

[2020-06-22 00:16] stebo85 opened #32 "run module avail for new terminal or display a help-text explaining how the module system works in VNM?"

[2020-06-22 00:27] stebo85 commented on #9
I started a little matrix in the wiki:
https://github.com/NeuroDesk/vnm/wiki/VNM-testing

[2020-06-22 01:21] stebo85 opened #33 "setup automatic container building in caid repo"
idea:
- a push to master will trigger the build of containers in docker hub
- these containers are then pulled into VNM (not going via singularity hub, because docker hub allows us to store all images)

[2020-06-22 01:47] stebo85 commented on #16
I looked into running VNM on our HPC and I made some progress :)
the container converts and runs:
singularity shell -e -B /gpfs1/scratch/30days/uqsbollm/test:/vnm vnm.sif

however, I haven't found out how to run a singularity container inside a singularity container:
/usr/share/fetch_and_run.sh convert3d 1.0.0 20200420
convert3d/1.0.0
Module 'convert3d/1.0.0' is installed. Use the command 'module

[2020-06-22 05:56] stebo85 opened #34 "change fetch_and_run/transparent_singularity script to pull from docker"
currently transparent singularity pulls from our Australian singularity storage. To make things faster for the rest of the world, we should pull images by default from our new docker library - e.g.: https://hub.docker.com/repository/docker/vnmd/ants_2.3.1

(I am currently building all containers again and push them there)

[2020-06-22 05:58] stebo85 opened #35 "simplify adding containers to the menu"
Currently one needs to copy multiple files and manually change them to create a new software entry in the main menu. Would it be cool to have a simple textfile where we enter which images are ready and tested and based on this we generate all menu entries automagically?

[2020-06-22 07:44] MartinGrignard commented on #35
This would also clean the repository as we could actually run the script during the build of the container thus removing all the menu files from the directory and even reducing the amount of layers required to generate the menu items.

[2020-06-22 08:30] stebo85 commented on #33
automatic building is not as easy as I was hoping, because our images are big and fail on normal docker hub :( - I now have a virtual machine setup that does it - maybe anyone has an idea how to do this at scale and at 0 cost :D

[2020-06-22 08:32] stebo85 opened #36 "seperate handling of software containers into its own repo (neurodesk)"
-> this then will be the HPC version of VNM because I am quite certain now that nesting singularity containers does not work on HPCs, because singularity needs higher privileges than we can ever obtain on an HPC safely.

[2020-06-22 08:35] stebo85 commented on #16
closing that for now, because I could not find a way of running nested singularity containers on HPCs -> alternative solution could be to create a nice bash script in the repo "neurodesk" that handles multiple containers on HPCs in a nice and user-friendly way (including "importing" the exact software state that one was using in the VNM container on a different computer)

[2020-06-22 08:36] stebo85 commented on #22
I setup the automatic builds, but there is no testing yet. What would be a good automatic test if the container "runs"?

[2020-06-22 08:38] crnolan commented on #16
Interesting, I was testing this out last week but didn't finish. I'll reopen if I get anywhere.

[2020-06-22 10:25] stebo85 commented on #16
Cool :) would be interesting to hear what you find out

[2020-06-22 11:22] stebo85 commented on #34
I modified transparent singularity https://github.com/NeuroDesk/transparent-singularity and it can now pull containers from docker:
./run_transparent_singularity.sh --container convert3d_1.0.0_20200622.sif --storage docker

Can someone outside of Australia test, if pulling from docker is faster than pulling from our Australian singularity storage :?

[2020-06-22 11:22] stebo85 opened #37 "test ubuntu 20.04 as base image for vnm"

[2020-06-22 11:29] stebo85 commented on #27
https://askubuntu.com/questions/516303/tiling-windows-horizontally-and-vertically-under-lubuntu-lxde-openbox
https://github.com/ssokolow/quicktile
https://askubuntu.com/questions/1182097/lubuntu-19-10-20-04-how-to-tile-windows-the-window-tiling-section-is-missing

[2020-06-22 11:39] stebo85 commented on #37
Step 11/33 : RUN ln -s /usr/lib/x86_64-linux-gnu/lua/5.2/posix_c.so /usr/lib/x86_64-linux-gnu/lua/5.2/posix.so
 ---> Running in c7ed9dd0a5f1
ln: failed to create symbolic link '/usr/lib/x86_64-linux-gnu/lua/5.2/posix.so': File exists
The command '/bin/sh -c ln -s /usr/lib/x86_64-linux-gnu/lua/5.2/posix_c.so /usr/lib/x86_64-linux-gnu/lua/5.2/posix.so' returned a non-zero code: 1

[2020-06-23 01:48] civier commented on #30
Amazing work on the table @stebo85 I'm very impressed !!!

Regarding Python software. Let's take for example cmtk that has a Nipype interface (but that would be true to any software with nipype interface, I guess):
https://nipype.readthedocs.io/en/1.1.7/interfaces/generated/interfaces.cmtk/cmtk.html#

I'll follow the columns in the table per Steffen's suggestion:
easy install - ? (I had trouble be

[2020-06-23 01:59] stebo85 commented on #30
Thank you @civier :)

I agree, I think we should try to put cmtk in a container. I don't think that the python interface is a problem - because this would be outside the container (as nipype has the actual interface - under the hood it is still calling command line tools that would then be inside the container)

For SPM, I would follow neurodockers approach of using compiled SPM and the matlab run

[2020-06-23 02:04] stebo85 opened #38 "add cmtk"
1) add recipe to neurodocker https://github.com/NeuroDesk/neurodocker and create pull request to neurodocker
2) build container here https://github.com/NeuroDesk/caid
3) test container and if successful add container to Readme table here https://github.com/NeuroDesk/neurodesk

[2020-06-23 02:12] civier commented on #30
@stebo85, maybe cmtk is not the best example, but let's take something like nilearn that is pure Python (no command-line, as far as I know). What would you do with this?
And in any case, looking into the future, I guess more and more tools would offer python interface (that does not go through a command line under the hood), and we should decide how to include them.
I don't know enough about how t

[2020-06-23 04:36] stebo85 commented on #30
@civier, yes nilearn is an interesting one (and I think python in general). I would love to hear what others think about this, but this is my current approach to this: The python world is pretty good in terms of dependency management and reproducing environments (using conda). Also, it's not feasible to package every python module in it's own container. Therefore, I currently install python via mi

[2020-06-23 04:46] civier commented on #36
Hello Steffen. Where did you find this information about privileges required for the singularity? Can you send me the info/links?

[2020-06-23 04:51] stebo85 commented on #36
yes, all info about this is here: https://github.com/NeuroDesk/vnm/issues/16

[2020-06-23 04:54] civier commented on #26
Same idea applies to stand-alone Matlab licenses. The main issue with Matlab, which I try to tackle, is how to install Matlab full-fledge environment without any version information (as it will be problematic to distribute something with a specific license). We can possibly install Matlab with trial license, but even the trial licenses are connected to a specific identity/email. Any ideas?

I also

[2020-06-23 04:57] civier commented on #16
Hello Steffen,
As I mentioned before, I already looked at it, and it should be possible with certain settings on HPC and sandbox Singularity image. I re-post what I posted on Mattermost:

[2020-06-23 05:02] stebo85 commented on #16
yes, this is what I thought I tried.

[2020-06-23 06:01] #37 closed

[2020-06-23 09:18] MartinGrignard commented on #30
Great discussion here! Indeed packaging python would be tricky and since there are already two versions of python available inside VNM, why not going with those? I've never used conda/miniconda since it creates a big overhead IMO so I only use pip as a dependency manager for my projects. It would make things very easy for people working with python to stick with pip as people could simply provide

[2020-06-23 13:08] kaczmarj commented on #30
@MartinGrignard - one benefit of conda is that they package pre-compiled packages. this is especially helpful when wheels don't exist for a package. traits is a package that needs compiling and doesn't ship a wheel, so conda makes it easier to install. traits is a nipype dependency

[2020-06-24 14:10] MartinGrignard commented on #35
I'm working on a solution based on a `.json` config file where we would have to specify the information. This file would look like:
[code]

[2020-06-24 23:03] stebo85 commented on #33
Aswin found a great way of building containers using github actions. First builds automatic builds are coming it!

[2020-06-25 00:52] stebo85 opened #40 "modularization of our code in different Repos"
Hi all :)

I would love to have everyone's opinion on our current architecture and possible changes: https://github.com/NeuroDesk/vnm/wiki/Architecture

Goal: I would like to have different parts of the project in separate repos that allow easy testing, issue handling and easier collaboration.

[2020-06-25 03:11] civier commented on #30
Hello all. I've just been in the OHBM OpenScience rooms, and met Loic Tetrel (@ltetrel)
from NeuroLibre. He told me about these Python encapsulated environments (venv), and I wonder if it's something we can use for packages like nilearn for example?
https://www.liquidweb.com/kb/how-to-setup-a-python-virtual-environment-on-ubuntu-18-04/
It won't be as isolated as a container, but at least something

[2020-06-25 03:15] stebo85 commented on #30
Yes to me venv and conda envs achieve the same thing in terms of separation and we should use these. Conda makes some things easier because it provides packages that just run and don't need compilation. Happy with both :)

[2020-06-25 03:30] stebo85 commented on #35
Dear @MartinGrignard - this is great! I love the idea and what you have in the issue branch looks perfect to me.

In order to separate things out in different repos and make the different components reusable in other projects:
* would it be ok, to store all menu related things in our permanent storage /vnm? and softlink them to the correct locations (dependent on the distribution and desktop flavo

[2020-06-25 03:31] stebo85 commented on #5
closing this ticket here. Automatic building and testing of the images is developed in https://github.com/NeuroDesk/caid

[2020-06-25 03:31] #5 closed

[2020-06-25 06:15] stebo85 commented on #27
https://abchk1234.wordpress.com/2015/02/01/native-window-snapping-window-tiling-with-fluxbox-openbox-and-xfwm4-xfce/
https://thomashunter.name/posts/2019-01-27-treating-openbox-like-a-tiling-windowmanager
https://ideatrash.net/2019/06/organizing-and-tiling-your-windows-on-openbox-using-only-openbox.html

[2020-06-25 06:42] MartinGrignard commented on #35
Hi 😁 I still have somme tweeks to do before the script is ready but it is alpost donne.
I think it would be possible but then the script could not be ran during the build, would it be ok to run a setup script at start?

[2020-06-25 23:14] stebo85 commented on #35
True @MartinGrignard - I did not consider this problem :)

Then I think it's better to put the menu entries at the right spot in VNM and we build in a paramter that saves the menu files in /vnm for the other projects using the menu system in the neurodesk repo.

Yes, downloading and adding the latest config file during build is good. This makes it easy for users and we can control what software is

[2020-06-25 23:23] stebo85 commented on #40
@MartinGrignard, I am hoping that we can make the menus general enough so they would work in different Linux desktops and not just lxde - I therefore thought it's a good idea to have the menus in the neurodesk repo and with this separated from VNM. This would then allow to install neurodesk on VNM, a "normal" bare-metal Linux desktop and we can use neurodesk in the CVL project as well. The top lay

[2020-06-25 23:31] stebo85 commented on #36
closing since discussion is happening in #40

[2020-06-25 23:31] #36 closed

[2020-06-26 04:39] #27 closed

[2020-06-26 05:14] #32 closed

[2020-06-26 05:29] #30 closed

[2020-06-26 05:37] #22 closed

[2020-06-26 07:52] MartinGrignard commented on #40
It does make sense! Now I understand 😊 so once my work on making adding apps easier will work properly I'll move it to neurodesk.

[2020-06-26 10:06] stebo85 commented on #40
Cool :) Yes, when it works and you are keen you can move the menu code over to the neurodesk repo. I am also happy to help :) Let me know! I made some improvements today on vnm that hopefully shouldn't interfere with your work, so a rebase of your branch onto master should be easy before merging.

[2020-06-26 22:37] civier opened #44 "Modules don't work on Ubuntu 18.04 LTS VM on OpenStack"
When I try to run "ml avail" I get this error:
[code]
From what I see, /vnm/modules does not exist. Are you still working on it or somethings is missing in the installation?
Oren

[2020-06-27 23:32] stebo85 commented on #44
Dear @civier,

What docker command did you use the run the container?

My first guess would be that there is no persistent folder mounted inside, so it was started without this parameter:
-v /path/to/persistent:/vnm

If that is the case do you think we should detect that automatically and create a non-persistent folder?

Best
Steffen

[2020-06-27 23:49] stebo85 commented on #44
I now modified the quickstart instructions to include the correct mount-points (it was in the detailed instructions further below, but people might not read that far)

@meganEJcampbell : can you test if the mac instructions work?
docker run --privileged -e USER=neuro -e PASSWORD=neuro --name vnm -v ~/vnm:/vnm -p 6080:80 vnmd/vnm:latest

[2020-06-28 04:36] stebo85 opened #45 "add datalad"

[2020-06-28 04:37] stebo85 opened #46 "add nipype"

[2020-06-28 04:38] stebo85 opened #47 "add rclone to interact with cloud storages"
https://rclone.org/

[2020-06-29 06:43] stebo85 commented on #35
Hi @MartinGrignard - I was wondering if there is anything I can help with at the moment with respect to getting the menus working? There is a container roundtable on Thursday and I was wondering if we could have a new release by then with a lot more software :?

[2020-06-29 07:06] MartinGrignard commented on #35
Hi @stebo85! I'm sorry it took so long, I've had issues with other projects lately... I'll work on it today and ship it. Is neurodesk added as a subproject in the repo of vnm? It would make things easy to integrate in the docker image.

[2020-06-29 07:07] stebo85 opened #48 "add link to vnm folder on desktop"

[2020-06-29 07:10] stebo85 commented on #35
Hi @MartinGrignard - no worries :) I was just wondering if I can help :) The neurodesk repo is not added as a subproject - I was just thinking of cloning it to vnm (instead of copying files :?) i haven't worked much with subprojects yet, so happy to see what one can do with these

[2020-06-29 07:11] stebo85 commented on #44
Dear @civier - can you confirm if this was the actual problem and if it solved it :? I hope it's not another bug, because then I currently cannot reproduce it. Would you have more detail how to get this error?

[2020-06-29 07:21] MartinGrignard commented on #35
For the help, I'm currently testing if everything's okay with the `build_meny.py` script, if it works with two test apps, it should work with more.

For the subproject, as VNM should actually include neurodesk to work, it would be a great solution to add it as a subproject as it would involve working with the latest version at anytime. I've only used this in some simple cases like here where there

[2020-06-29 07:23] meganEJcampbell commented on #44
@stebo85 trying now, and it's succesfully downloaded all the bits, but is stuck with at:
Listening on http://localhost:6079 (run.py:87)
nginx entered RUNNING state, process has stayed up for > than 1 seconds (startsecs)
(same for web, xvfb, wm, lxpanel, pcmanfm, x11vnc, and novnc)

I'm gonna leave it thinking and can confirm tomorrow if it worked. (unfortunately i've gotta scoot and can hang about

[2020-06-29 07:26] stebo85 commented on #44
Hi @meganEJcampbell:  This all looks good. What happens when you do step 4 and open your browser and go http://localhost:6080 :?

[2020-06-29 07:40] meganEJcampbell commented on #44
Ah my level of N00bness is extreme 🥇 hahaha! step 4 worked. tried on Mozilla firefox, chrome and safari and all good for all three, in case that matters. :-)

[2020-06-29 07:47] stebo85 commented on #44
Cool :) @meganEJcampbell, other things to test would be: can you start a tool from the menu (like itksnap)? I guess step 4 is not clear, what can be improved to make that clearer :?

[2020-06-29 07:57] meganEJcampbell commented on #44
I've committed some edits to the readme :-) I'll try to run some tools tomorrow. Cheers!

[2020-06-29 07:58] #45 closed

[2020-06-29 08:01] MartinGrignard commented on #35
@stebo85 I've built the image and I come across a strange issue:
All the files are written in the right place and seem to contain what they should but the menu does not appear.
The only problem I can seem to find is that the formatting of the added entries to `vnm-applications.menu` does not include indentation. Do you think it might be the problem?

[2020-06-29 08:42] MartinGrignard commented on #35
The branch [35-simplify-adding-containers](https://github.com/NeuroDesk/vnm/tree/feature/35-simplify-adding-containers) now creates a prettified xml file so it seems that the issue does not come from the file format...

If you have any idea why the menu does not appear with all the files being in the right place and having the right permission, it would help a lot :stuck_out_tongue: I continue my

[2020-06-29 12:13] MartinGrignard commented on #35
Commit NeuroDesk/vnm@80b9a72bf3d62efdb0a8dffc3e129a5808722cb4 fixed the case issue. The only remaining problem is that the main VNM menu does not show up as we want it to:
![image](https://user-images.githubusercontent.com/14327643/86003871-be1d7280-ba12-11ea-9f0e-c3dd100fa65e.png)

[2020-06-29 12:52] aswinnarayanan commented on #35
Hi @MartinGrignard, vnm-neuroimaging.directory isn't being added to the container because its not on the application list. Adding it in fixes the main menu

[2020-06-30 02:55] thomshaw92 commented on #11
Looking into this.
https://xpra.org/

Making start script for windows and maybe mac to check for docker, download lite VNC player, and run Docker run command.

[2020-06-30 06:45] meganEJcampbell commented on #44
Success in opening itksnap but it's glitchy in that the display windows overlap eachother (see screenshot), and I can't use the iksnap gui for anything (clicking on things and nothing happens)... That's probably a connection speed issue though right? although i'm on ethernet network with 115.2+ Mbps download and 63.46 Mbps upload...
![Screen Shot 2020-06-30 at 4 38 00 pm](https://user-images.githu

[2020-06-30 06:48] meganEJcampbell commented on #44
small thing - I don't htink I'm closing the doker properly ... is there a step before typing >docker stop vnm into terminal? I've closed the browser window but my terminal is still running the things and doesn't execute the new command to "stop"

[2020-06-30 08:45] #35 closed

[2020-07-01 08:10] stebo85 commented on #44
@meganEJcampbell - Thank you so much for testing! The glitch you are seeing in ITKsnap is interesting. It's not a connection issue, because the container runs on your own computer. Can you check if there is a warning in the background that blocks you from using itk? I have an idea how to fix this otherwise!

closing the container: Yes, this is not yet userfriendly and you need to press CTRL-C in t

[2020-07-01 08:10] stebo85 opened #51 "put itksnap in master container to remove graphics glitch or use overlayfs in singularity to avoid error?"

[2020-07-01 23:07] civier opened #52 "ReproNim/containers - containerized environments for reproducible neuroimaging"
https://github.com/ReproNim/containers
I've just learnt about this from Yaroslav Halchenko.
What can we learn from their implementation? what are the overlaps with our work?
Any thoughts?

[2020-07-01 23:54] stebo85 commented on #52
Hi @civier - yes, I am aware of the ReproNim containers library and I keep a close eye on it :)

I think it could be possible to use their containers in our setup as well and potentially contribute to their library?

Problems I had with using it as is:
- the containers are singularity specific, so one cannot run them in different versions of singularity or other container technologies (that is why

[2020-07-02 00:19] stebo85 commented on #52
potential other considerations:
- testing and CI: @aswinnarayanan build an amazing CI pipeline for our containers and it is working beautifully - we now have the basic foundation for testing our built containers (and not just building and deploying them automatically): https://github.com/NeuroDesk/caid -> @civier have a look how much progress there was in the last days :)

[2020-07-02 01:01] stebo85 opened #53 "add all the new containers we just built in https://github.com/NeuroDesk/caid/packages to the awesome new menu system :)"

[2020-07-02 01:10] stebo85 opened #54 "add julia to main container, because now we can with ubuntu20.04 as our base"

[2020-07-02 07:42] #53 closed

[2020-07-02 07:46] stebo85 commented on #34
working and tested :)

[2020-07-02 07:46] #34 closed

[2020-07-02 23:56] #51 closed

[2020-07-02 23:58] stebo85 commented on #44
@meganEJcampbell I hope I fixed the itksnap problems in the current master branch :) Can you test again?
@civier since you haven't reported back on your problem I am assuming it's fixed and close that issue for now - please open a new issue if it's still a problem for you :)

[2020-07-02 23:58] #44 closed

[2020-07-02 23:59] stebo85 opened #57 "switch automatic build of VNM to github actions"

[2020-07-03 00:27] stebo85 opened #58 "optimize dockerfile to decrease image size"

[2020-07-03 00:27] #46 closed

[2020-07-03 01:57] stebo85 commented on #48
done in #54 while I was at it.

[2020-07-03 01:57] #48 closed

[2020-07-03 01:57] #54 closed

[2020-07-03 02:07] stebo85 opened #61 "add available tools in VNM to Readme"

[2020-07-03 04:40] stebo85 opened #62 "add correct icons for every tool we have"

[2020-07-03 05:09] meganEJcampbell commented on #9
Thought I'd move thread here @stebo85 given I'm testing on macOS + firefox browser, and the other closed issue topic was something else.
Copy of out previous thread:
@meganEJcampbell - Thank you so much for testing! The glitch you are seeing in ITKsnap is interesting. It's not a connection issue, because the container runs on your own computer. Can you check if there is a warning in the background

[2020-07-03 07:50] stebo85 commented on #57
in the github actions I would also like to build in tests if the image builds correctly and the basic functionality works. Would it be ok for everyone if we then also start protecting the master branch, so that only commits that create a working container can be merged?

@aswinnarayanan @MartinGrignard @civier

[2020-07-03 08:06] MartinGrignard commented on #57
@stebo85 sure!

[2020-07-03 08:43] aswinnarayanan commented on #57
Sounds good 👍

[2020-07-03 11:02] #61 closed

[2020-07-03 11:25] #47 closed

[2020-07-04 23:28] stebo85 commented on #16
Closing this for now. I updated transparent singularity https://github.com/NeuroDesk/transparent-singularity to pull all our VNM containers directly onto HPCs and I personally think that this is the best solution, because it nicely integrates into job-submission systems like Slurm and PBS. Running containers nested on an HPC seems appealing, but I can't get it to work. Please feel free to re-open

[2020-07-04 23:28] #16 closed

[2020-07-04 23:29] stebo85 opened #65 "Add nighres to main container"
Nighres is a Python package for processing of high-resolution neuroimaging data

https://github.com/nighres/nighres
https://nighres.readthedocs.io/en/latest/installation.html

[2020-07-04 23:58] crnolan commented on #16
The only downside this way I guess is that one can't necessarily fully mirror the desktop and HPC environment (i.e. use the same master image for both). So I guess the way to look at it instead is the docker image is attempting to mirror the eventual HPC environment.

[2020-07-07 17:12] pwighton opened #66 "Running Freeview core dumps"
I'm getting a core dump when trying to execute Freeview.

After running:
[code]

Then browsing to `http://localhost:6080/` and clicking start->VNM Neuroimaging->FreeSurfer->FreeSurfer 7.1.0 drops me into a sigularity container.

Running `freeview` in that shell gives the following error: https://imgur.com/a/ZQlo4lA

[code]

System info
[code]
This is a very excited project!  A lot of folks would l

[2020-07-08 01:02] stebo85 commented on #66
Dear @pwighton,

Thank you so much for finding this bug :) It got introduced when we switched from building our containers in singularity directly to building them in docker via github actions last week. Somehow docker messes with this UUID file '/etc/machine-id' which causes the problem you are seeing. I can reproduce the problem and I am trying to fix it now :)

Thank you!
Cheers
Steffen

[2020-07-08 01:08] stebo85 commented on #66
trying different solutions right now, if anyone has an idea, please add:
people suggest to try:
- ln -s /var/lib/dbus/machine-id /etc/machine-id
- installing systemd

[2020-07-08 06:05] stebo85 commented on #66
I found a fix and it is already working in the devlelopment version. Currently the container is rebuilding on docker-hub - then I will test that one and then we should be able to close this issue :)

[2020-07-08 07:17] stebo85 commented on #9
Dear @meganEJcampbell, can you test again the latest version of the vnm container. I fixed the bug and it hopefully now works nicely :) To get the latest version you might have to manually delete the older version beforehand: "docker rmi vnmd/vnm"

[2020-07-08 10:50] stebo85 opened #68 "user mapping issues in vnm container running on linux"
the problem is that our user inside the vnm container cannot access files outside the container because the user mapping is not correct. I am now trying to run everything that needs to save files outside the container as root inside the container.

[2020-07-08 11:19] #68 closed

[2020-07-08 12:00] stebo85 commented on #66
Dear @pwighton,

The latest vnm version has a working freeview version again :) Since you already downloaded a freesurfer container you need to remove this container and redownload the updated version - the tag is 20200708

![image](https://user-images.githubusercontent.com/4021595/86915879-0ef53f80-c166-11ea-9a3f-72a38d0570e3.png)

does this work for you as well?

Please keep testing more things

[2020-07-08 14:28] aswinnarayanan commented on #57
Initial commit ed3fac5b331364ada9fa71847484bc9aab9cb181 keeps rebuilding the image from scratch, there's some issue with the caching

[2020-07-08 17:17] pwighton commented on #66
Thanks @stebo85!  I can confirm this is working on my end. :)

I'll keep playing around with things and report any problems I come across.

[2020-07-08 23:34] stebo85 commented on #66
Thank you @pwighton for confirming :)

Yes, reporting more issues would be great! The more feedback we get in these early steps of the project the better :) Please also feel free to open issues for improvements and features you would be keen to see.

Cheers
Steffen

[2020-07-08 23:34] #66 closed

[2020-07-08 23:36] stebo85 commented on #57
This is awesome! Thank you. No idea why the caching is not yet working, but I am happy with this as is! Thank you so much @aswinnarayanan :)

[2020-07-08 23:36] #57 closed

[2020-07-08 23:37] stebo85 opened #70 "keeping users' settings across different containers using overlay-fs"
should we add a "fake" home directory that we mount into every singularity container by using overlay-fs?

[2020-07-09 02:14] stebo85 opened #71 "creating a light and a full version of VNM"
What do people think about creating a lightwight VNM container version that only includes the absolutely necessary tools to run the external software packages (i.e. singularity and menu system) and then use this a basis image for a version with more features (i.e. python, julia, vs code, rclone, ....) - is that useful :?

[2020-07-09 03:18] aswinnarayanan commented on #71
Related to #40 #58
Is this not the original model that was proposed? I.e. very lightweight minimal container, that add optional software containers from caid or elsewhere

[2020-07-09 03:24] stebo85 commented on #71
yes, correct - but we are limited in what we can do in separate containers: e.g. everything that is on the pipeline side and managing data is better in the main container - the problem is that the main container grows quite a bit because of this - we are currently at 2.6GB for VNM.

I was thinking that we could now easily build multiple flavours since the github actions allow that nicecly :)

[2020-07-09 03:58] stebo85 opened #72 "wrong message after closing container"
asks to delete container

[2020-07-09 07:13] #72 closed

[2020-07-10 00:14] stebo85 opened #74 "add SPM"

[2020-07-10 00:20] stebo85 opened #75 "add dcm2niix"

[2020-07-10 00:21] stebo85 opened #76 "add DICOM to BIDS converter (possibly dcm2niibatch or dcm2bids)"

[2020-07-10 00:22] stebo85 opened #77 "add cmtk"
1) add recipe to neurodocker https://github.com/NeuroDesk/neurodocker and create pull request to neurodocker
2) build container here https://github.com/NeuroDesk/caid
3) test container and if successful add container to Readme table here https://github.com/NeuroDesk/neurodesk

[2020-07-13 09:02] stebo85 commented on #40
refactoring finished and menu system generation is now in neurodesk repo https://github.com/NeuroDesk/neurodesk enabling a deployment on any linux system with lxde desktop and extendable to other desktop systems

[2020-07-13 09:02] #40 closed

[2020-07-13 09:03] stebo85 commented on #9
closing this issue as everything is done right now - please open separate issues for each new problem so we can split up work better and keep track of problems and status of their solutions :)

[2020-07-13 09:03] #9 closed

[2020-07-13 09:06] #75 closed

[2020-07-13 21:13] stebo85 commented on #70
played with this a bit - not flexible or stable enough for our user case

[2020-07-13 21:13] #70 closed

[2020-07-13 21:16] stebo85 opened #79 "make vs code installable as portable version in vnm folder so that users can keep their settings and installed plugins"

[2020-07-13 21:20] stebo85 opened #80 "submit project to open neuroscience website"
https://docs.google.com/forms/d/e/1FAIpQLSd2R1yFTAef9TLinfBolhMUw75YMK_9QfRnzHOavFexDSs4qQ/viewform

[2020-07-15 09:34] civier opened #81 "Install basic popoular linux utilities in main image"
I found out that these very basic Linux utils are missing:
- less
- ImageMagick (aka "display")
- tree
- nano
- vim
- emacs

I believe these shouldn't take much space at all, so why not adding them?

[2020-07-15 09:58] civier opened #82 "Add instructions on how to donwload packages and load them through the terminal"
Is everything should be done through the "module" command? Are you aliasing it to something else?

[2020-07-15 10:12] civier opened #83 "Pulling singularity images vs. docker images"
Is it really faster for international users to pull docker images over singularity images?
If there was a singularity hub comparable to docker hub (I don't really know the current state of things), wouldn't it be faster to pull singularity images diretly?

On one hand, the singularity images are usually smaller than the docker images + we save the time required to unpack and convert to sif (which

[2020-07-15 10:54] stebo85 commented on #83
yes, I think storing singularity images would be nice, but currently none of the available singularity registries works well enough :)

[2020-07-15 10:56] stebo85 commented on #82
how do you mean this? The applications get installed when a user clicks on an appliation in the menu and then they can be loaded on the terminal using "module load" - this is documented when a user opens a terminal.

[2020-07-15 10:56] stebo85 commented on #81
yes, possible :)

[2020-07-15 11:00] civier commented on #83
So how much data can we actually store on Docker hub? And does it have caps on the total GBs downloaded from our repository per day/week/month? Can we buy more storage/throughput?

[2020-07-15 11:06] civier commented on #82
I see. Can you add this explanation to the README please?

In any case, it will be also nice that the module command will download packages if they are not already downloaded. This way, when a subject runs a script that uses certain packages (the script loading the packages with the module command), the packages will be automatically downloaded.

[2020-07-15 11:13] civier commented on #81
also:
- gimp

Not sure how big it is, though?
Also, any recommendation on Window's Paint-compatible bitmap editor? (for those not comfortable with gimp) I'm looking for one for years already.

[2020-07-15 11:15] stebo85 commented on #81
gimp is big - but we can try

[2020-07-15 12:05] stebo85 commented on #81
ok, all working :)

[2020-07-15 12:05] #81 closed

[2020-07-15 12:31] stebo85 commented on #83
There are no limits on docker hub or github - however there are limits on singularity hub - that's why we use docker for now :)

[2020-07-15 12:36] MartinGrignard commented on #82
For now, the `module` command only provides the already installed packages. This makes everything simple and clean. If a module is not installed yet, it should not be available with `module avail` because it would mean that VNM should ship with all the files required to make softwares accessible as modules. The creation of those scripts is automated via transparent singularity. If we decide to mak

[2020-07-15 12:38] stebo85 commented on #82
Yes, fully agree with @MartinGrignard - a module load should not install modules because this is not what users expect.

However, I also think it's great to document how to do this correctly via the command line, which I now did :)

I hope that solves this issues nicely =)

[2020-07-15 12:38] #82 closed

[2020-07-16 02:41] civier opened #86 "Choosing an application from the menu should run the GUI"
I envision the menu to not only download the packages, but also run the GUI of each package (fsl, mrview, freeview, afni, spm, etc.)
Do you agree? If yes, can you implement it?
Also, if the package is already downloaded, pressing the menu should only run the GUI.

[2020-07-16 02:43] civier opened #87 "Information on progress and termination of package downloads"
Right now, one knows that the download terminated when the "singularity>" prompt is presented in the terminal window. Instead, I think we should present a big message saying "Download completed" and also print to the terminal the module name that should be used. When the user presses ENTER, the terminal window can then be closed.
Any thoughts? I guess it is trivial to implement if you agree.

[2020-07-16 03:13] civier commented on #83
So who pays for the docker hub servers?
Is it financed by docker? How long should we assume it will stay
free-of-charge for?

Oren

On Wed, Jul 15, 2020 at 10:31 PM Steffen Bollmann <notifications@github.com>
wrote:

[2020-07-16 04:37] stebo85 commented on #87
yes, this can be done :)

[2020-07-16 04:39] stebo85 commented on #86
Running the GUI by default is not a good idea, because then you force every user to use the module system when they want to run a non gui tool from the package. What we could do is to add another menu item that runs the GUI tool?

[2020-07-16 05:40] civier commented on #86
Sure. For every tool, we can have one option to open a terminal and load
the module, and another option to run the GUI.

To be honest, though, I wonder how much people would actually use the first
option (terminal). The reason is that if you load the module through the
menu and then want to run commands through the terminal, so:
1) you need to navigate to where your files are
2) you lose your comm

[2020-07-16 05:45] stebo85 commented on #83
yes, docker pays for dockerhub and microsoft pays for github. Since we have our containers in these 2 registries we can be pretty sure that not both go away at the same time :)

[2020-07-16 05:46] stebo85 commented on #86
yes, that's correct - we want to give users every possible way of working and not restrict anything.

[2020-07-16 06:06] aswinnarayanan commented on #83
@civier
Github Packages is free for Public Repos, no limits currently -- runs on MS azure infrastructure.

Github packages doesn't even let us delete packages from the public repos in order to not break downstream dependacies , so they're actually encouraging us to keep the images available indefinitely.

I agree with @stebo85. If dockerhub were to restrict capacities for free repos, it would have

[2020-07-16 11:19] stebo85 commented on #83
I built a singularity caching mechanisms that keeps all images we currently use in neurodesk on swift storage. The primary location of containers will be dockerhub, but I am hoping that caching the images as singularity files will speed up the installation process:

What do people think about this?
https://github.com/NeuroDesk/neurodesk/blob/master/release_new_version.sh

[2020-08-13 17:44] civier opened #89 "Please add your institution / funding bodies logos to end of README"

[2020-08-17 22:39] stebo85 opened #90 "modify chrome start icon to run as root (-- add sandbox option)"

[2020-08-17 22:39] stebo85 opened #91 "add nextflow"

[2020-08-27 01:21] #90 closed

[2020-08-27 02:15] stebo85 opened #93 "a few applications don't work when run as root -> revert back to running things as normal user?"

[2020-08-27 04:12] #93 closed

[2020-08-27 08:13] stebo85 commented on #86
done

[2020-08-27 08:13] #86 closed

[2020-08-27 08:13] stebo85 commented on #87
done

[2020-08-27 08:13] #87 closed

[2020-08-27 08:14] stebo85 commented on #79
tried, but didn't work well - next idea: try to make the whole home directory persistent

[2020-08-27 08:14] #79 closed

[2020-08-27 08:14] stebo85 commented on #58
done

[2020-08-27 08:14] #58 closed

[2020-08-27 08:15] stebo85 commented on #71
closed for now.

[2020-08-27 08:15] #71 closed

[2020-08-27 08:16] stebo85 opened #95 "try to make home-directory persistent"

[2020-08-28 00:05] #95 closed

[2020-09-14 08:30] stebo85 opened #97 "start the vnm desktop with the same userid and groupid as the user locally to make sure that all network mounts work"
needs a modification in startup.sh and grabbing the ID from the command line parameter of starting the container

[2020-09-23 23:10] pwighton opened #98 "Update to FreeSurfer 7.1.1"
Is it possible to update FreeSurfer to 7.1.1?

Neurodocker has been [updated](https://github.com/ReproNim/neurodocker/pull/363).

Is it as simple as a changing [this line](https://github.com/NeuroDesk/caid/blob/b169d5d818e280ab401b650b0c30d417211e578a/recipes/freesurfer/build.sh#L10)?

I'm happy to submit a PR if pointed in the right direction.

[2020-09-24 00:16] stebo85 commented on #98
Dear @pwighton,

I merged the latest changes from neurodocker into our fork (because we added more packages to neurodocker that are still not merged) and triggered a build of the freesurfer 7.1.1 container - it should be ready to test in an hour.

Cheers
Steffen

[2020-09-24 04:45] stebo85 commented on #98
Dear @pwighton ,

Freesurfer 7.1.1 is now in the latest version of VNM. Pull the container version 20200924 and let me know if something isn't working for you :)

closing for now, but please feel free to reopen.

Cheers
Steffen

[2020-09-24 04:45] #98 closed

[2020-09-24 10:09] pwighton commented on #98
Thanks so much for the quick reply, @stebo85 !

I can confirm FreeSurfer 7.1.1 is in `20200924`.  And there's even an icon now for FreeView in the launch menu.  Very cool! :)

[2020-09-25 06:08] stebo85 commented on #98
@pwighton - I am glad it's working and you like the Freeview icon. Any other ideas or suggestions to improve feel free to open an issue :)

[2020-10-01 10:00] #89 closed

[2020-10-27 01:55] civier opened #100 "Instructions on how to contact us"
Add links to our Github pages in the top of the README page, in case somebody wants to contact us and is not comfortable with openning an issue.
You're welcome to also add your contact if you want to be contacted directly.

[2020-10-27 01:56] civier commented on #100
I added links to Steffen and mine Github pages

[2020-10-27 01:56] #100 closed

[2020-11-27 05:19] ozej8y opened #101 "Modules not found"
After following the instructions to run the Neurodesk docker container on my Mac, when I try to start an application, errors are returned about the module being unknown.

When I run 'module avail' nothing is returned.
Modules are not correctly setup.

I tried running "./fetch_and_run.sh fsl 6.0.3 20200905", it has the same moduel unknown error.

I am using the Docker container: vnmd/neurodesk:2020

[2020-11-27 11:45] stebo85 commented on #101
Dear Jay,

Thank you so much for trying neurodesk, finding this bug and opening an issue :) This bug only occurs for an empty environment where the module folder has not been created yet - so it slipped through my testing ...

Bug is now fixed: Can you try the latest container version 20201127 and let me know if it is working for you?

Also, super happy to hear what you think about the project and

[2020-11-30 04:45] ozej8y commented on #101
Hi Steffan,

Thanks for the quick response. I'm investigating how your containers run, as we are looking at how to incorporate them into the CVL container repo: https://github.com/Characterisation-Virtual-Laboratory/CharacterisationVL-Software

It's working now.

Thanks,
               Jay.

[2020-11-30 04:54] stebo85 commented on #101
Dear @ozej8y ,

Great to hear it's working now 👍

We integrated neurodesk with CVL at UQ by installing it in the CLI mode - would that work for you?
https://github.com/NeuroDesk/neurodesk/

Cheers
Steffen

[2020-12-03 21:45] stebo85 commented on #101
@ozej8y, are there any updates from your side? Can I close this issues :?

Cheers
Steffen

[2020-12-03 22:00] ozej8y commented on #101
Hi Steffen,

Yes issue fixed. Please close.

Thanks,
             Jay.

[2020-12-03 22:00] #101 closed

[2021-01-19 09:54] civier opened #102 "Add some basic utilities to base image"
Add these:
- sshfs
- ping

[2021-01-19 10:09] stebo85 commented on #102
yes, good idea. You can do this in the dockerfile in this repo (https://github.com/NeuroDesk/vnm/blob/master/vnm_base/Dockerfile) and then build a new base image that you use in the neurodesk repo as a base for vnm (https://github.com/NeuroDesk/neurodesk/blob/master/vnm/Dockerfile)

[2021-01-30 09:16] stebo85 commented on #102
Dear @civier ,

I added sshfs and ping. It's in the latest version:

sudo docker run --privileged --name vnm -e RESOLUTION=1620x960 -e USER=neuro -v ~/vnm:/vnm -v /dev/shm:/dev/shm -p 6080:80 -p 5900:5900 vnmd/vnm:20210130

[2021-01-30 09:16] #102 closed

[2021-04-15 14:26] civier opened #103 "Adding standard recommended way to add storage to a running VNM"
If we want the VNM to serve as an actual working environment, users  might need to add extra FAST storage midway (especially in the case that the VNM is running on the cloud, and users might request for extra storage only when they need it). From what I've read online, there isn't really a proper way to add storage to a running container, not even if I pause and then restart it (and nothing can be

[2021-04-15 14:56] aswinnarayanan commented on #103
Hi @civier.

Docker bind mounts have a propagation setting called rshared
rshared allows a docker mount to contain nested mount points.
The nested mount points can be added and removed while the container is running, and the container will see the changes and be able to read-write to it.
[https://docs.docker.com/storage/bind-mounts/#configure-bind-propagation ](url)

One catch is that, the source

[2021-04-16 00:46] civier commented on #103
Thanks. That is SUPER useful to know.
@aswinnarayanan I wonder -- should we already create a directory inside the VNM for this purpose, so people can bind this dynamic host directory when they start the VNM? I don't think it should be /vnm, as this is where the downloaded Singularity containers go, and in most cases, people will need extra storage for processing rather than downloaded packages.
@a

[2021-05-05 01:53] TomEmotion opened #104 "Adding basic software to VNM base image? E.g. simple text editor"
Wondering what the procedure should be for suggestions for basic software additions to the VNM base image? Can we start a list somewhere?

First suggestion from me: basic text editor that looks/feels like a Windows/Mac/Linux GUI text editor. Something that also uses keyboard shortcuts for copy/paste etc that are consistent with VNM desktop. Emacs is too geeky & idiosyncratic for many users. GEdit

[2021-05-05 03:42] stebo85 commented on #104
Dear @TomEmotion,

the easiest is to open an issue as you did, then we can reference it in the pull request adding the requested tool. Gedit is a great idea to add. The easiest point to add would be here: https://github.com/NeuroDesk/vnm/blob/master/vnm_base/Dockerfile

If you don't have time to add it I can look at this once the CVMFS refactoring is done :)

Cheers
Steffen

[2021-05-05 03:48] aswinnarayanan commented on #104
@TomEmotion Would Visual Studio Code be a suitable option? (https://code.visualstudio.com/)

[2021-05-06 02:57] civier commented on #103
@aswinnarayanan Hi again Aswin. Do you know if there is a similar solution for Singularity containers? We are using SSHFS that disconnects all the time, and when reconnecting it, the Singularity containers that were already running before the disconnection happened cannot access the files on the fresh mount anymore. Will be great if the Singularity containers would be aware when a new mount is cre

[2021-05-12 03:37] TomEmotion commented on #104
I have also installed Spyder as an IDE with text editor using Conda in an experimental version of VNM that I'm trying out. Visualstudio looks like a nice editor for coders, with a nice feature set.

But I think a really simple, basic text editor is needed. One that non-technical users can use to view Readme files, open cvs/tsv files, and do simple editing of shell scripts/batch scripts. And one th

[2021-05-12 10:24] stebo85 commented on #104
@TomEmotion,

I added gedit to the latest version of the image :)

Can you test? New image version is 20210512

[2021-05-12 10:24] #104 closed

[2021-05-12 10:59] TomEmotion commented on #104
Will do - thanks!

[2021-06-09 03:24] yjmantilla opened #105 "High storage comsumption on windows."
So the problem I had is that docker by default installs everything (including containers) on the c:drive , which for many people is size limited.

As you use the VNM, the space of the virtual hard disk for the vnm never shrinkes, so you will see your space quickly being depleted. This happens at least with the WSL2 backend, which is the most recommended (if I remember correctly).

I managed to fix

[2021-06-09 03:57] stebo85 commented on #105
Dear @yjmantilla - it would be interesting to understand why your VNM install requires so much space. There are two components and we tried to reduce the local space consumption as much as possible:
1) There is the docker container running VNM: This is stored in the VHDX file you are describing and your solution should work to reduce the space. I can add this to the README. HOWEVER: the VNM contai

[2021-06-10 04:11] aswinnarayanan commented on #105
Thanks @yjmantilla
Minimum space requirements is now in the readme
And your instructions is now in the wiki and advanced instructions

[2021-06-10 04:11] #105 closed

[2021-09-05 16:20] lukevano opened #106 "Using VNM as a root user through Azure"
Thank you for this fantastic package! I've been able to run it locally on my laptop but it's a bit too slow so have been getting up the docker on Azure. I can bring up the virtual machine using the following code but can't download my data as I'm not a root user:

sudo docker run --privileged --name vnm -v ~/vnm:/vnm -v /dev/shm:/dev/shm -e USER=neuro -p 6080:80 -p 5900:5900 vnmd/neurodesk:2020112

[2021-09-05 22:07] stebo85 commented on #106
Dear @lukevano,

Cool - thank you for trying out our project :)

The error you see is not a problem - you can ignore it and the desktop should run without any problems.

Let me know if this is the case or if anything else is not working as expected :)

Kind regards
Steffen

[2021-09-07 22:20] lukevano commented on #106
Many thanks! I was making an error with the docker code. All fixed now and enjoying it.

Best wishes,
Luke

[2021-09-07 22:20] #106 closed

[2021-09-07 22:27] stebo85 commented on #106
Dear @lukevano

That's great to hear :) We are also currently working on the next version of the NeuroDesk interface that we will release on the 20th of September with lots